

.container {
    top: 93px;
    left: 1000px;
    right: 30px;
}

.form-box {
    width: 90%;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border: 2px solid #180203;
    border-radius: 30px;
}

.input-field {
    background: #fcf2d9;
    margin: 15px 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s; 
    overflow: hidden;

}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    color: #999;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

form p {
    
    text-align: left;
    font-size: 13px;
}

form p a {
    text-decoration: none;
    color: #fab201;
}

.btn-field {
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    margin-left: 0;
    margin-top: 15px;
    padding: 10px;
    font-size: 15px;
    /* flex-basis: 48%; */
    background: #fab201;
    color: #fff;
    border-radius: 15px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.btn-field button.disable {
    background: #eaeaea;
    color: #555;
}

.input-group {
    height: 280px;
}

p a.clickHere {
    color: #e51620;
}

p a.clickHere:hover {
    color: #e51620;
}