
/* Start- Contact */

@media only screen and (max-width: 913px) {

  .map {
    padding: 0px 100px 50px 100px;
  }

  .contact-container {
    flex-direction: column;
  }

  .contact {
    padding:0;
  }
}

    
@media (max-width: 821px){
  .content, .pastors-content {
    flex-direction: column;
    margin: 20 50px;
  }

  .content div, .pastors-content div {
    width: 100%;
  }

  .zone-wrapper {
    width: 100%;
  }

  .write-up {
    width: 100%;
    margin: 0;
  }

  .values {
    
  }
} 
    
@media only screen and (max-width: 415px) {
  .map {
    padding: 0px 10px 50px 10px;
  }
}

    
@media only screen and (max-width: 561px) {

  .write-up h2 {
    font-size: 15px;
  }

  .footer {
    padding: 10px 30px 100px 30px;
  }

  .footer a,
    .footer p {
      font-size: 12px;
    }

  .footer h2 {
    font-size: 20px;
  }

  
  .contact-field {
    padding:  0 20px; 
  }

  .contact-field .content-field h2,
  .contactForm h2 {
    font-size: 20px;
  }

  .contact-field .content-field {
    text-align: left;
    padding: 0 20px;
  }

  .connect-zone h1 {
    font-size: 30px;
  }

  .zone-wrapper h3 {
    font-weight: 500;
    font-size: 20px;
  }

  .write-up h1 {
    font-size: 30px;
    font-weight: 400;
  }

  .logo-footer {
    padding: 200px 20px 50px 20px;
  }

  .logo-footer div {
    width: 50%;
  }

  .logo-footer div img {
    width: 100%;
  }
}
  
  
@media only screen and (min-width:416px) and (max-width: 541px) {
  .map {
    padding: 0px 50px 50px 50px;
  }

}

    
@media only screen and (max-width: 281px) {
  .contact-container .contactInfo .box {
      display: flex;
      flex-direction: column;
  }


  .contact-container .contactInfo .box .icon {
    width: 60px;
    height: 60px;
  }

  .contact {
    padding: 10px;
  }
}

@media (max-width: 920px) {
  .navItems ul li:hover .div-hover .newsletter-hover{
    display: none;
  }
}


@media (max-width: 912px) {

  .contact {
    padding: 50px;
  }

  .container {
    flex-direction: column;
  }

  .container.contactInfo {
    margin-bottom: 40px;
  }

  .container .contactInfo,
  .contactForm {
    width: 100%;
  }

  .contact-container .contactInfo {
    width: 100%;
  }
}
/* End- Contact */



/* Start- Navigaion Bar */


@media (max-width: 890px) {

  .quickLink-content {
    flex-wrap: wrap;
  }

  .quickLink-wrapper {
    width: 100%;
  }

  .navBar {
    padding: 0 80px;
    justify-content: space-between;
  }

  #menu_btn {
    display: block;
    background: none;
    margin: 0;
    padding: 0;
  }

  #menu_btn:hover {
    background: none;
  }

  #menuIcon {
    color: #180203;
    font-size: 30px;
    text-align: center;
  }

  #logo {
    padding: 20px 0;
  }

  #banner1, #banner2, #banner3, #banner4 {
    padding-top: 88px;
}

.content, .pastors-content {
  margin-top: 10px;
}

.navItems ul {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.navItems li,
  .empty-profile-btn {
  margin: 0 0 30px 0;
  padding: 0;
}

.navItems button {
  margin: 0 0 20px 0;
}

.profile-button {
  margin-left: 5px;
  padding-right: 10px;
  margin-bottom: 0;
  background-color: #fcf2d9;
}

.profile-button:hover {
  background-color: #fff;
  border: 1.5px solid #180203;
  cursor: pointer;
}

.navItems ul li:hover .div-hover {
  display: none;
}

.navItems .home {
  margin-left: -30px !important;
}

.navItems {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: -500px;
  height: 100vh;
  width: -500px;
  background-color: #fcf2d9;
  box-shadow:#1a1a1a;
  padding: 80px 0 0 10px;
  justify-content: flex-start;
  transition: ease-in-out 0.5s;
  z-index: 999;
  }

  .navBar {
    justify-content: space-around;
  }

  .navBar .bring-it {
    width: 50%;
    right: 0;
    transition: ease-in-out 0.5s;
  }

  .navItems .active::before {
    position: relative;
  }

  .firstSection {
    width: 80%;
    margin: auto;
    padding: 0; 
  }

  .firstSection button {
    margin-bottom: 45px;
    padding: 10px;
  }

.swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  
.firstSection div { 
  white-space: nowrap; 
 }

.firstSection p {
  font-size: 12px;
}
 
 #close {
  display: block;
  position: absolute;
  top: 30px;
  right: 30px;
  color:#e51620;
  font-size: 40px;
}

#close:hover {
  cursor: pointer;
}

.navItems .active::before {
  width:130% !important;
}

.firstSection button {
  font-size: 15px;
}

.firstSection div {
  margin: 0;
}

.actual-content {
  flex-direction: column-reverse;
}

}

@media (max-width: 931px) {
            
  .footer div{
    width: 50%;
  }
}




/* Social Media Styles */
@media only screen and (max-width: 764px) {

  .social-media-wrapper {
    width: 50%;
    margin-bottom: 30px;
  }  
}

@media only screen and (max-width: 764px) {
      .name {
          display: nne;
      }
  
      #navbar li {
        margin-bottom: 20px;
      }
  
      #navbar.active {
        right: 0;
      }
  
      #cart-profile.active {
        display: none;
      }

      /*
      
      menue profile and cart icons only in mobile
      
      */
  
          
      #mobile_navbar {
        display:flex;
        align-items: center;
        justify-content:flex-end;
        align-items: center;
        padding-top: 12px;
      
      }
  
      #menu_mobile {
        padding-top: 20px;
      }
  
          
      #mobile_navbar li {
        list-style: none;
        padding: 0 20px;
        margin: 0; 
        position: relative;
        color:#009933;
        font-size: 24px;
        
      }
  
          
      #mobile_navbar li.active {
        display: none;
      }
  
      .home_banner_text h4 {
          font-size: 40px;
      }
  
      
      .home_banner_text h1 {
        font-size: 30px;
    }
    #banner_id {
      padding-left: 40px;
      padding-right: 80px;
  }
    
  #header_container {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  }
  
  
  
  @media only screen and (min-width: 764px) {
  
    #mobile_navbar {
      display: none;
    }
    #navbar span {
      display: none; 
    }
  
  }
  
  
  /*very small tabs - small phones */
  
  @media only screen and (max-width: 712px) {
    #newsletter {
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
      align-content: stretch;
    }
  
    .newstext h4,
    .newstext p {
      text-align: center;
    }
  

  
  
  }
  
    /* small phones */
    @media only screen and (max-width: 345px) {
  
      .footer {
        padding: 5px 10px;
      }
  
      #header_container {
        padding-left: 10px;
        padding-right: 10px;
    }

    @media only screen and (max-width: 394px) {
        .footer .about,
          .footer .enquire,
          .footer .connectJoindept,
          .footer .contact_footer {
          width: 100% !important;
        }
    }
  
  }
  
  @media only screen and (max-width: 1277px) and (min-width: 1024px) {
  
    .logo-name .name {
      display: none;
    }
  
  }
  
  @media only screen and (max-width: 281px) {
    .home_banner_container h2 {
      font-size: 40px;
      line-height: 40px;
    }
  
    #close {
      padding-left: 50px;
    }
}